.left {
    background-color: var(--left-bg-color);
    color: var(--right-bg-color);
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    position: relative;

    /* Hide scroll bar for Firefox and Internet Explorer */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer */
}

.left::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.left .contact a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

.intro, .contact, .resume, 
.name, .role {
    text-align: center; 
}

.role, .name {
    font-size: 1.2rem;
    font-weight: bold;
}   


.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.address {
    text-align: center;
    font-size: 0.9rem;
    border-top: 2px solid var(--first-color);   
    padding:5px;
}

.edu {
    font-style: italic;
}

.contact, .resume {
    font-size:0.8em;
}

.left .contact a.linkedin {
    color: #2e6583;
}

.left .contact a.linkedin:hover {
    color: #0aa7fb;
}

.resume-link {
    color: #b03030;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    color: var(--first-color);
}

@media (max-width: 768px) {
    .left {
        padding: 20px;
    }

    .resume-download {
        padding: 8px 16px;
        font-size: 0.9em;
    }
    .btn-up,
    .btn-down {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .btn-up {
        top: 15%;
    }

    .btn-down {
        bottom: 15%;
    }
}

.btn-up {
    top:20%;
}

.btn-down {
    bottom:20%;
}

.btn-up,
.btn-down {
    opacity: 0.25; 
    left: 30%;
    position: fixed;
    z-index: 10;
    background: none;
    border: none;
    color: var(--first-color);
    font-size: 32px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.btn-up:hover,
.btn-down:hover {
    opacity: 1;
    color: #f73f06; /* Change color on hover */
    transform: scale(4.5); /* Slightly enlarge on hover */
}