.left {
    background-color: var(--left-bg-color);
    color: var(--right-bg-color);
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.left .contact a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

.header {
    margin-top: 30px;
}

.resume-link {
    padding: 10px 20px;
    color: #b03030;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    color: var(--first-color);
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-list p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
}

.skill-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .left {
        padding: 20px;
    }

    .resume-download {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}